<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="form-group centered">


    <p class="h3">Comments       <i class="fa fa-refresh m-1" id="refreshComments"></i></p>
    <p class="h3" style="margin-top: 10px">Is a comment of following </p>
    <div id="commentHighlight" style="overflow-y: auto;width:320px; height:220px; margin-top: 10px" readonly> </div>

    <div id="comments" class="container"></div>


  </div>
</body>
</html>
