<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <p class="h3" style="margin-top: 10px">Commenting following text </p>
  <div id="isCommenting" style="overflow-y: auto;width:320px; height:220px; margin-top: 10px" readonly> </div>
  <p class="h3" style="margin-top: 10px">Create a comment </p>
  <section id="kommentar">

    <div class="form-group">
      <label for="commentUser"> User: </label>
      <input class="form-control input-sm w-25" id="commentUser" placeholder=" user" /><br>
    </div>
    <div class="form-group">
      <label for="commentComment"> Comment: </label>
      <textarea class="form-control input-sm w-25" id="commentComment" placeholder="Comment" rows="10"></textarea>
    </div>

    <div class="form-group">
      <header> Do I like this part of text?</header>
      <div>
        <label for="likeYes">Like:</label> <input type="radio" id="likeYes" name="commentLike">  <br>
        <label for="dislikeYes">Dislike:</label> <input type="radio" id="dislikeYes" name="commentLike"><br>
        <label for="likeDislikeNo">Don't know:</label>  <input type="radio" id="likeDislikeNo" name="commentLike" checked><br>
      </div>
    </div>
    <div class="row">
      <button id="addTimeline" class="btn btn-success col-1 m-1 p-1"><div class="text-wrap">Comment text</div></button>
    </div>




  </section>
</body>
</html>
